$lightblue: #80ced669;


p.main-quote {
  background-color: $lightblue;
}

#about-frida {
  background-color: $lightblue;
}

table {
  background-color: $lightblue;
}


li {
  a.nav-link {
  background: #FFFFFF;
  color: black;
  font-weight: bold;
  }
  a.nav-link-active {
    color: black;
    font-weight: bold;
  }
}
